In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os

In [2]:
import pandas as pd
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process
import os, glob
import time

import nltk
import numpy as np
import re
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

C:\Users\josed\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [4]:
def checker2(wrong_options, correct_options):
    i=0
    results = [] 
    for wrong_option in wrong_options:
#        print(wrong_option)
        
#        buenas = wrong_options[wrong_options.Nombre == wrong_option]['Nielsen'].unique()
#        print(buenas)
#        correct_options = correct_options_2[correct_options_2.Desc_Categ.isin(buenas) ]['texto_limpio']
#        print(correct_options)
        
        x = process.extract(wrong_option, correct_options, scorer=fuzz.token_sort_ratio, limit = 1)
#        print(x)
        x = pd.DataFrame(x, columns = ['CONCEPTO_BANORTE','Score2','Familia'])

        #y = process.extract(wrong_option, correct_options, scorer=fuzz.partial_ratio, limit = 6)
        #y = pd.DataFrame(y, columns = ['Similares3','Score3'])

        #x = pd.concat([x, y], axis = 1)
        x = pd.concat([x], axis = 1)

        x['CONCEPTO_BBVA'] = wrong_option
 #       x['tabla_banorte'] = tabla_banorte
 #       x['tabla_santander'] = tabla_santander
        
        results.append(x)
        i+=1
#        print(i)   
    result = pd.concat( results , sort = False)
#    result['articulo_asociado'] = tipo
    return result

In [5]:
def checker3(wrong_options, correct_options):
    i=0
    results = [] 
    for wrong_option in wrong_options:
#        print(wrong_option)
        
#        buenas = wrong_options[wrong_options.Nombre == wrong_option]['Nielsen'].unique()
#        print(buenas)
#        correct_options = correct_options_2[correct_options_2.Desc_Categ.isin(buenas) ]['texto_limpio']
#        print(correct_options)
        
        x = process.extract(wrong_option, correct_options, scorer=fuzz.token_sort_ratio, limit = 1)
#        print(x)
        x = pd.DataFrame(x, columns = ['CONCEPTO_SANTANDER','Score2','Familia'])

        #y = process.extract(wrong_option, correct_options, scorer=fuzz.partial_ratio, limit = 6)
        #y = pd.DataFrame(y, columns = ['Similares3','Score3'])

        #x = pd.concat([x, y], axis = 1)
        x = pd.concat([x], axis = 1)

        x['CONCEPTO_BBVA'] = wrong_option
 #       x['tabla_banorte'] = tabla_banorte
 #       x['tabla_santander'] = tabla_santander
        
        results.append(x)
        i+=1
#        print(i)   
    result = pd.concat( results , sort = False)
#    result['articulo_asociado'] = tipo
    return result

In [7]:
trimestres = ['1T21','2T21','2T20','3T20','4T20']

In [441]:
trimestre = '2T21'
reporte = 'Balance_General'

In [442]:
int(trimestre[-2:])

21

In [443]:
lista_bbva = (os.listdir('C:/Users/josed/Downloads/OUTPUT_BBVA_2021_2/Output/BBVA_'+reporte+'_'+trimestre))      
tablas_bbva = [s for s in lista_bbva if "table" in s]
bbva = pd.DataFrame()
for i in tablas_bbva:
#        print(i)
    globals()[f'bbva_'+ i[-5]] = pd.read_csv('C:/Users/josed/Downloads/OUTPUT_BBVA_2021_2/Output/BBVA_'+reporte+'_'+trimestre+'/'+i)
    globals()[f'bbva_'+ i[-5]].columns = globals()[f'bbva_'+ i[-5]].columns.str.replace(' 20','')
    globals()[f'bbva_'+ i[-5]] = globals()[f'bbva_'+ i[-5]].rename(columns = {globals()[f'bbva_'+ i[-5]].columns[0] : 'CONCEPTO'})
    bbva = pd.concat([bbva,globals()[f'bbva_'+ i[-5]]],axis = 0)


vec_c = []
for columna in bbva.columns:
    nueva_columna = str(columna)+'_BBVA'
    vec_c.append(nueva_columna)
bbva.columns = vec_c 
    
banorte = pd.DataFrame()    
lista_banorte = (os.listdir('C:/Users/josed/Downloads/OUTPUT_BBVA_2021_2/Output/Banorte_'+reporte+'_'+trimestre))      
tablas_banorte = [s for s in lista_banorte if "table" in s]
for i in tablas_banorte:
#        print(i)
    globals()[f'banorte_'+ i[-5]] = pd.read_csv('C:/Users/josed/Downloads/OUTPUT_BBVA_2021_2/Output/Banorte_'+reporte+'_'+trimestre+'/'+i)
    globals()[f'banorte_'+ i[-5]].columns = globals()[f'banorte_'+ i[-5]].columns.str.replace('1T','Mar')
    globals()[f'banorte_'+ i[-5]].columns = globals()[f'banorte_'+ i[-5]].columns.str.replace('2T','Jun')
    globals()[f'banorte_'+ i[-5]].columns = globals()[f'banorte_'+ i[-5]].columns.str.replace('3T','Sep')
    globals()[f'banorte_'+ i[-5]].columns = globals()[f'banorte_'+ i[-5]].columns.str.replace('4T','Dic')
    globals()[f'banorte_'+ i[-5]] = globals()[f'banorte_'+ i[-5]].rename(columns = {globals()[f'banorte_'+ i[-5]].columns[0] : 'CONCEPTO'})

    banorte = pd.concat([banorte,globals()[f'banorte_'+ i[-5]]],axis = 0)
   
vec_c = []
for columna in banorte.columns:
    nueva_columna = str(columna)+'_BANORTE'
    vec_c.append(nueva_columna)
banorte.columns = vec_c

santander = pd.DataFrame()   
lista_santander = (os.listdir('C:/Users/josed/Downloads/OUTPUT_BBVA_2021_2/Output/Santander_'+reporte+'_'+trimestre))      
tablas_santander = [s for s in lista_santander if "table" in s]
anio = int(trimestre[-2:])
for i in tablas_santander:
    globals()[f'santander_'+ i[-5]] = pd.read_csv('C:/Users/josed/Downloads/OUTPUT_BBVA_2021_2/Output/Santander_'+reporte+'_'+trimestre+'/'+i)
    if any("Mar" in s for s in globals()[f'santander_'+ i[-5]].columns):
        print('chido') 
    else:
        globals()[f'santander_'+ i[-5]].columns =globals()[f'santander_'+ i[-5]].values[0]
        
    vec = []
    for columna in globals()[f'santander_1'].values[0]:
        nueva_columna = str(columna)+str(anio)
        if 'Mar '+str(anio) in vec:
            nueva_columna = str(columna)+str(anio-1)
        vec.append(nueva_columna)
        
    globals()[f'santander_'+ i[-5]].columns = vec
    globals()[f'santander_'+ i[-5]].columns = globals()[f'santander_'+ i[-5]].columns.str.replace(' ','')
    globals()[f'santander_'+ i[-5]] = globals()[f'santander_'+ i[-5]].rename(columns = {globals()[f'santander_'+ i[-5]].columns[0] : 'CONCEPTO'})
    santander = pd.concat([santander,globals()[f'santander_'+ i[-5]]],axis = 0)    
    
vec_c = []
for columna in santander.columns:
    nueva_columna = str(columna)+'_SANTANDER'
    vec_c.append(nueva_columna)
santander.columns = vec_c

In [444]:
banorte

,CONCEPTO_BANORTE,Mar20 _BANORTE,Jun20 _BANORTE,Sep20 _BANORTE,Dic20 _BANORTE,Mar21 _BANORTE,Jun21 _BANORTE,Unnamed: 7_BANORTE
0,ACTIVOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Disponibilidades,"88,668","105,537","99,615","108,743","115,954","110,407",NaN
2,Cuentas de Margen,"9,701","18,353","16,312","18,099","11,012","8,703",NaN
3,Títulos para negociar,"79,968","95,379","36,918","41,432","39,609","43,914",NaN
4,Títulos disponibles para la venta,"157,021","184,050","163,887","153,063","142,487","140,484",NaN
...,...,...,...,...,...,...,...,...
54,Resultado neto,"6,180","9,849","16,483","20,384","5,974","12,495",NaN
55,Capital Ganado,"92,529","101,240","107,895","113,285","115,368","121,176",NaN
56,Participación no controladora,3,3,3,3,3,4,NaN
57,Total Capital Contable,"113,663","122,583","129,440","135,047","137,242","143,416",NaN
58,TOTAL PASIVOS Y CAPITAL,"1,293,647","1,348,628","1,277,593","1,262,185","1,234,021","1,234,286",NaN

In [445]:
#bbva = bbva.drop(columns = 'Unnamed: 6_BBVA')
#banorte = banorte.drop(columns = 'Unnamed: 9_BANORTE')
#santander = santander.drop(columns = 'nan19_SANTANDER')

In [446]:
banorte

,CONCEPTO_BANORTE,Mar20 _BANORTE,Jun20 _BANORTE,Sep20 _BANORTE,Dic20 _BANORTE,Mar21 _BANORTE,Jun21 _BANORTE,Unnamed: 7_BANORTE
0,ACTIVOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Disponibilidades,"88,668","105,537","99,615","108,743","115,954","110,407",NaN
2,Cuentas de Margen,"9,701","18,353","16,312","18,099","11,012","8,703",NaN
3,Títulos para negociar,"79,968","95,379","36,918","41,432","39,609","43,914",NaN
4,Títulos disponibles para la venta,"157,021","184,050","163,887","153,063","142,487","140,484",NaN
...,...,...,...,...,...,...,...,...
54,Resultado neto,"6,180","9,849","16,483","20,384","5,974","12,495",NaN
55,Capital Ganado,"92,529","101,240","107,895","113,285","115,368","121,176",NaN
56,Participación no controladora,3,3,3,3,3,4,NaN
57,Total Capital Contable,"113,663","122,583","129,440","135,047","137,242","143,416",NaN
58,TOTAL PASIVOS Y CAPITAL,"1,293,647","1,348,628","1,277,593","1,262,185","1,234,021","1,234,286",NaN

In [447]:
santander

,CONCEPTO_SANTANDER,Jun21_SANTANDER,Mar21_SANTANDER,Dic20_SANTANDER,Sep20_SANTANDER,Jun20_SANTANDER,Mar20_SANTANDER,nan20_SANTANDER
0,NaN,Jun,Mar,Dic,Sep,Jun,Mar,NaN
1,Activo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Disponibilidades,"113,843","97,483","94,802","83,502","85,658","113,427",NaN
3,Cuentas de margen,"5,209","4,017","4,122","3,876","4,638","4,929",NaN
4,Inversiones en valores,"458,685","558,857","575,415","552,369","540,938","368,394",NaN
...,...,...,...,...,...,...,...,...
38,Remediciones por beneficios definidos a los em...,"(1,606)","(1,488)","(1,523)","(1,009)","(1,001)",(995),NaN
39,Resultado neto,"7,992","3,279","20,154","14,674","9,644","5,414",NaN
40,Participación no controladora,50,37,39,32,36,43,NaN
41,Total capital contable,"159,941","159,654","158,871","151,475","146,536","141,041",NaN
42,Total pasivo y capital contable,"1,634,384","1,748,298","1,856,213","1,858,684","1,929,350","1,802,210",NaN

In [448]:
final = pd.DataFrame()
finals = []

result = checker2(bbva.CONCEPTO_BBVA, banorte.CONCEPTO_BANORTE)


finals.append(result)
final = pd.concat(finals)

final_2 = pd.DataFrame()
finals_2 = []

result_2 = checker3(bbva.CONCEPTO_BBVA, santander.CONCEPTO_SANTANDER)


finals_2.append(result_2)
final_2 = pd.concat(finals_2)

In [449]:
conceptos = final[final.Score2>60]
bbva_2 = bbva.merge(conceptos[['CONCEPTO_BBVA','CONCEPTO_BANORTE']],how = 'left')
balance = bbva_2.merge(banorte , how = 'left')
balance  = balance.drop_duplicates()

In [450]:
balance.columns[7]

'CONCEPTO_BANORTE'

In [451]:
conceptos = final[final.Score2>60]
bbva_2 = bbva.merge(conceptos[['CONCEPTO_BBVA','CONCEPTO_BANORTE']],how = 'left')
balance = bbva_2.merge(banorte , how = 'left')
balance  = balance.drop_duplicates()


balance[balance.columns[1]] = balance[balance.columns[1]].str.replace(',','')
balance[balance.columns[1]] = balance[balance.columns[1]].str.replace(' ','')
balance[balance.columns[1]] = balance[balance.columns[1]].str.replace('(','')
balance[balance.columns[1]] = balance[balance.columns[1]].str.replace(')','')
balance[balance.columns[1]] = balance[balance.columns[1]].str.replace('-','')
balance[balance.columns[1]] = balance[balance.columns[1]].str.extract('(\d+)').astype(float)


balance[balance.columns[-3]] = balance[balance.columns[-3]].str.replace(',','')
balance[balance.columns[-3]] = balance[balance.columns[-3]].str.replace(' ','')
balance[balance.columns[-3]] = balance[balance.columns[-3]].str.replace('(','')
balance[balance.columns[-3]] = balance[balance.columns[-3]].str.replace(')','')
balance[balance.columns[-3]] = balance[balance.columns[-3]].str.replace('-','')
balance[balance.columns[-3]] = balance[balance.columns[-3]].str.extract('(\d+)').astype(float)


balance['diferencia'] = abs(balance[balance.columns[1]] - balance[balance.columns[-3]] )
balance = balance.sort_values('diferencia')
balance = balance.groupby(['CONCEPTO_BBVA']).head(1)

<ipython-input-451-bf21c86f696b>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  balance[balance.columns[1]] = balance[balance.columns[1]].str.replace('(','')
<ipython-input-451-bf21c86f696b>:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  balance[balance.columns[1]] = balance[balance.columns[1]].str.replace(')','')
<ipython-input-451-bf21c86f696b>:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  balance[balance.columns[-3]] = balance[balance.columns[-3]].str.replace('(','')
<ipython-input-451-bf21c86f696b>:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  balance[balance.columns[-3]] = balance[balance.columns[-3]].str.replace(')','')

In [452]:
balance

,CONCEPTO_BBVA,Jun20 _BBVA,Sep20 _BBVA,Dic20 _BBVA,Mar21 _BBVA,Jun21 _BBVA,Unnamed: 6_BBVA,CONCEPTO_BANORTE,Mar20 _BANORTE,Jun20 _BANORTE,Sep20 _BANORTE,Dic20 _BANORTE,Mar21 _BANORTE,Jun21 _BANORTE,Unnamed: 7_BANORTE,diferencia
125,Participación no controladora,39.0,40,39,39,44,NaN,Participación no controladora,3,3,3,3,3.0,4,NaN,36.0
70,Bienes adjudicados (neto),1334.0,"1,415","1,317","1,241","1,188",NaN,Bienes Adjudicados (neto),818,800,722,"1,384",1406.0,"1,812",NaN,72.0
104,Participación de los Trabajadores en las Utili...,20.0,22,285,75,195,NaN,Participación de los trabajadores en la utili.,639,280,407,538,187.0,297,NaN,167.0
47,Entidades gubernamentales,0.0,0,0,0,11,NaN,Créditos a Entidades Gubernamentales,35,111,284,33,188.0,182,NaN,188.0
121,Efecto acumulado por conversión,440.0,440,440,440,0,NaN,Efecto acumulado por conversión,177,160,115,7,32.0,5,NaN,408.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Mercado de Dinero,28121.0,"20,626","13,862","6,050","5,644",NaN,Inventario de Mercancías,-,-,-,-,NaN,-,NaN,NaN
90,Prestamos de valores,2.0,1,5,3,1,NaN,Préstamos de Valores,-,-,-,-,NaN,-,NaN,NaN
93,Préstamo de Valores,55877.0,"49,932","63,841","44,463","40,477",NaN,Préstamo de Valores,-,-,-,-,NaN,-,NaN,NaN
100,Ajustes de valuación por cobertura de pasivos ...,10770.0,"9,659","7,915","4,796","4,742",NaN,Ajustes de valuación por cobertura de pasivos ...,-,-,-,-,NaN,-,NaN,NaN
106,Acreedores por cuentas de margen,NaN,0,"1,179",348,348,NaN,Acreedores por cuentas de margen,-,-,-,-,NaN,-,NaN,NaN

In [453]:
conceptos2 = final_2[final_2.Score2>60]
balance_2 = balance.merge(conceptos2[['CONCEPTO_BBVA','CONCEPTO_SANTANDER']],how = 'left')
balance_2 = balance_2.merge(santander , how = 'left')
balance_2  = balance_2.drop_duplicates()

In [454]:
balance_2.columns[14]

'Unnamed: 7_BANORTE'

In [455]:
balance_2

,CONCEPTO_BBVA,Jun20 _BBVA,Sep20 _BBVA,Dic20 _BBVA,Mar21 _BBVA,Jun21 _BBVA,Unnamed: 6_BBVA,CONCEPTO_BANORTE,Mar20 _BANORTE,Jun20 _BANORTE,...,Unnamed: 7_BANORTE,diferencia,CONCEPTO_SANTANDER,Jun21_SANTANDER,Mar21_SANTANDER,Dic20_SANTANDER,Sep20_SANTANDER,Jun20_SANTANDER,Mar20_SANTANDER,nan20_SANTANDER
0,Participación no controladora,39.0,40,39,39,44,NaN,Participación no controladora,3,3,...,NaN,36.0,Participación no controladora,50,37,39,32,36,43,NaN
1,Bienes adjudicados (neto),1334.0,"1,415","1,317","1,241","1,188",NaN,Bienes Adjudicados (neto),818,800,...,NaN,72.0,Bienes adjudicados (neto),106,92,135,119,136,155,NaN
2,Participación de los Trabajadores en las Utili...,20.0,22,285,75,195,NaN,Participación de los trabajadores en la utili.,639,280,...,NaN,167.0,Participación de los trabajadores en las utili...,211,437,359,279,226,424,NaN
3,Entidades gubernamentales,0.0,0,0,0,11,NaN,Créditos a Entidades Gubernamentales,35,111,...,NaN,188.0,Entidades gubernamentales,"81,807","87,620","73,034","80,269","74,774","76,593",NaN
5,Efecto acumulado por conversión,440.0,440,440,440,0,NaN,Efecto acumulado por conversión,177,160,...,NaN,408.0,Efecto acumulado por conversión,9,9,9,9,9,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Mercado de Dinero,28121.0,"20,626","13,862","6,050","5,644",NaN,Inventario de Mercancías,-,-,...,NaN,NaN,Depósitos a plazo - mercado de dinero,"38,058","45,094","51,467","63,483","58,072","63,040",NaN
107,Prestamos de valores,2.0,1,5,3,1,NaN,Préstamos de Valores,-,-,...,NaN,NaN,Préstamo de valores,"29,229","20,538","15,263","13,512","14,412","7,817",NaN
108,Préstamo de Valores,55877.0,"49,932","63,841","44,463","40,477",NaN,Préstamo de Valores,-,-,...,NaN,NaN,Préstamo de valores,"29,229","20,538","15,263","13,512","14,412","7,817",NaN
109,Ajustes de valuación por cobertura de pasivos ...,10770.0,"9,659","7,915","4,796","4,742",NaN,Ajustes de valuación por cobertura de pasivos ...,-,-,...,NaN,NaN,Ajuste de valuación por cobertura de pasivos f...,(1),0,0,2,4,3,NaN
110,Acreedores por cuentas de margen,NaN,0,"1,179",348,348,NaN,Acreedores por cuentas de margen,-,-,...,NaN,NaN,Acreedores por cuentas de margen,69,180,5,27,109,627,NaN

In [456]:
balance_2[balance_2.columns[-2]] = balance_2[balance_2.columns[-2]].str.replace(',','')
balance_2[balance_2.columns[-2]] = balance_2[balance_2.columns[-2]].str.replace(' ','')
balance_2[balance_2.columns[-2]] = balance_2[balance_2.columns[-2]].str.replace('(','')
balance_2[balance_2.columns[-2]] = balance_2[balance_2.columns[-2]].str.replace(')','')
balance_2[balance_2.columns[-2]] = balance_2[balance_2.columns[-2]].str.replace('-','')
balance_2[balance_2.columns[-2]] = balance_2[balance_2.columns[-2]].str.extract('(\d+)').astype(float)


balance_2['diferencia_2'] = abs(balance_2[balance_2.columns[1]] - balance_2[balance_2.columns[-2]] )
balance_2 = balance_2.sort_values('diferencia_2')
balance_2 = balance_2.groupby(['CONCEPTO_BBVA']).head(1)

<ipython-input-456-85f802271918>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  balance_2[balance_2.columns[-2]] = balance_2[balance_2.columns[-2]].str.replace('(','')
<ipython-input-456-85f802271918>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  balance_2[balance_2.columns[-2]] = balance_2[balance_2.columns[-2]].str.replace(')','')

In [457]:
balance_2.columns

Index(['CONCEPTO_BBVA', 'Jun20 _BBVA', 'Sep20 _BBVA', 'Dic20 _BBVA',
       'Mar21 _BBVA', 'Jun21 _BBVA', 'Unnamed: 6_BBVA', 'CONCEPTO_BANORTE',
       'Mar20 _BANORTE', 'Jun20 _BANORTE', 'Sep20 _BANORTE', 'Dic20 _BANORTE',
       'Mar21 _BANORTE', 'Jun21 _BANORTE', 'Unnamed: 7_BANORTE', 'diferencia',
       'CONCEPTO_SANTANDER', 'Jun21_SANTANDER', 'Mar21_SANTANDER',
       'Dic20_SANTANDER', 'Sep20_SANTANDER', 'Jun20_SANTANDER',
       'Mar20_SANTANDER', 'nan20_SANTANDER', 'diferencia_2'],
      dtype='object')

In [458]:
for columna in balance_2.drop(columns = ['CONCEPTO_BBVA','CONCEPTO_BANORTE','CONCEPTO_SANTANDER']).columns:
    try: 
        balance_2[columna] = balance_2[columna].str.replace(',','')
        balance_2[columna] = balance_2[columna].str.replace(' ','')
        balance_2[columna] = balance_2[columna].str.replace('(','')
        balance_2[columna] = balance_2[columna].str.replace(')','')
        balance_2[columna] = balance_2[columna].str.replace('-','')
        balance_2[columna] = balance_2[columna].str.extract('(\d+)').astype(float)
    except:
        print('...')

...
...
...
...
...
...
...
...

<ipython-input-458-447e2440be5c>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  balance_2[columna] = balance_2[columna].str.replace('(','')
<ipython-input-458-447e2440be5c>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  balance_2[columna] = balance_2[columna].str.replace(')','')

In [467]:
balance_2[balance_2.CONCEPTO_BBVA == 'TOTAL CAPITAL CONTABLE '][['CONCEPTO_BBVA','Jun21 _BANORTE','Jun21 _BBVA','Jun21_SANTANDER']]

              CONCEPTO_BBVA  Jun21 _BANORTE  Jun21 _BBVA  Jun21_SANTANDER
80  TOTAL CAPITAL CONTABLE         143416.0     282604.0         159941.0

In [460]:
balance_2.to_csv('C:/Users/josed/Downloads/BALANCE_GENERAL/balance_general_'+trimestre+'.csv')

In [468]:
b1 = pd.read_csv('C:/Users/josed/Downloads/BALANCE_GENERAL/balance_general_2T20.csv').drop(columns = 'Unnamed: 0')
b2 = pd.read_csv('C:/Users/josed/Downloads/BALANCE_GENERAL/balance_general_3T20.csv').drop(columns = 'Unnamed: 0')
b3 = pd.read_csv('C:/Users/josed/Downloads/BALANCE_GENERAL/balance_general_4T20.csv').drop(columns = 'Unnamed: 0')
b4 = pd.read_csv('C:/Users/josed/Downloads/BALANCE_GENERAL/balance_general_1T21.csv').drop(columns = 'Unnamed: 0')
b5 = pd.read_csv('C:/Users/josed/Downloads/BALANCE_GENERAL/balance_general_2T21.csv').drop(columns = 'Unnamed: 0')
b1 = b1.merge(b2[list(set(b2.columns )- set (b1.columns))+['CONCEPTO_BBVA']],how = 'left')
b1 = b1.merge(b3[list(set(b3.columns )- set (b1.columns))+['CONCEPTO_BBVA']],how = 'left')
b1 = b1.merge(b4[list(set(b4.columns )- set (b1.columns))+['CONCEPTO_BBVA']],how = 'left')
b1 = b1.merge(b5[list(set(b5.columns )- set (b1.columns))+['CONCEPTO_BBVA']],how = 'left')

In [476]:
b1 = b1.merge(b2[list(set(b2.columns )- set (b1.columns))+['CONCEPTO_BBVA']],how = 'left')
b1 = b1.merge(b3[list(set(b3.columns )- set (b1.columns))+['CONCEPTO_BBVA']],how = 'left')
b1 = b1.merge(b4[list(set(b4.columns )- set (b1.columns))+['CONCEPTO_BBVA']],how = 'left')
b1 = b1.merge(b5[list(set(b5.columns )- set (b1.columns))+['CONCEPTO_BBVA']],how = 'left')

In [480]:
b1[b1.CONCEPTO_BBVA == 'TOTAL PASIVO '][['CONCEPTO_BBVA','Jun20 _BANORTE','Jun20 _BBVA','Jun20_SANTANDER']]

    CONCEPTO_BBVA  Jun20 _BANORTE  Jun20 _BBVA  Jun20_SANTANDER
69  TOTAL PASIVO        1575237.0    2460162.0        1782814.0

In [481]:
b1.to_csv('balance_join_completo.csv')

In [486]:
len(b1.columns)

45

In [487]:
len(b1.columns.unique())

45